@model StruCal.ViewModels.CircularSectionViewModel
@{
    ViewBag.Title = "Index";
    Layout = "_SectionPropertiesLayout.cshtml";
}

<p class="text-justify">
    Please provide the radious of the circular section.
</p>
<br />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div id="inputForms">
                @Html.Partial("_ValidationPartial")
                <div class="form-group">
                    @Html.LabelFor(model => model.Radious, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Radious, new { htmlAttributes = new { @class = "form-control"} })
                </div>

                <div class="form-group">
                    <input id="runButton" type="submit" value="Run" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div id="canvas">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getCircularSection();

    });
</script>