<!-- Modal Coefficients-->

<style>
    .ng-valid{
        border-color:greenyellow;
        border-style:double;
    }
    .ng-valid{
        border-color:crimson;
        border-style:groove;
    }
</style>

<div class="modal fade" id="modalCoefficients" role="dialog" ng-controller="coefficientsCtrl">
    <div class="modal-dialog" style="max-height:75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Coefficients</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="form-group">
                            <label for="PartialFactorForConcrete">Partial factor for concrete:</label>
                            <div class="form-inline">
                                <label>\(\gamma_C = \)</label>
                                <input type="number" class="form-control" required min="1" ng-model="gammaC" id="PartialFactorForConcrete">
                                <label>[-]</label>
                            </div>

                            <label for="PartialFactorForConcrete">Partial factor for steel:</label>
                            <div class="form-inline">
                                <label>\(\gamma_S = \)</label>
                                <input type="number" ng-model="gammaS" required min="1" class="form-control" id="PartialFactorForConcrete">
                                <label>[-]</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    //var coefficientsModalApp = angular.module('coefficientsModalApp', []);



</script>
