<div ng-controller="controlPanelCtrl">
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-lg" ng-class="{'btn-success':valid,'btn-warning':dirty,'btn-danger':error}" ng-click="calculate()"><span class="glyphicon glyphicon-cog"></span> Calculate</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="alert" ng-class="{'alert-success':valid,'alert-warning':dirty,'alert-danger':error}" role="alert">
                {{message}}
            </div>
        </div>
    </div>
    @*<pre>{{test | json}}</pre>*@
</div>
