<div ng-controller="controlPanelCtrl">
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-lg" ng-class="{'btn-success':valid,'btn-warning':dirty,'btn-danger':error,'btn-info':progress}" ng-click="calculate()"><span class="glyphicon glyphicon-cog"></span> Calculate</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1" ng-hide="!progress">
            <div id="progress" class="progress-indicator">
            </div>
        </div>
        <div class="col-md-4">

            <div class="alert" ng-class="{'alert-success':valid,'alert-warning':dirty,'alert-danger':error,'alert-info':progress}" role="alert">
                {{message}}
            </div>
        </div>
    </div>
</div>