<!-- Modal Sections-->
<div class="modal fade" id="modalCustomSection" role="dialog">
    <div class="modal-dialog" style="max-height:75%;">
        <div class="modal-content" ng-controller="customSectionCtrl">
            <div class="modal-header">
                <br />
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Sections</h4>
            </div>
            <div class="modal-body">
                @*Rectangular cross-section width*@
                <div class="container-fluid">
                    <div ng-form="CustomSectionForm">
                        <div class="row">
                            <div class="col-md-10 form-horizontal">
                                <label class="control-label"> Section coordinates (x<sub>1</sub>;y<sub>1</sub> x<sub>2</sub>;y<sub>2</sub>):</label>
                                <div class="form-group">
                                    @*<label class="control-label col-md-2">\(x,y   = \)</label>*@
                                    <div class="col-md-10">
                                        <input class="form-control" required pattern="^(((-?)(0|[1-9][0-9]*)(\.[0-9]+)?);((-?)(0|[1-9][0-9]*)(\.[0-9]+)?)\s)*(((-?)(0|[1-9][0-9]*)(\.[0-9]+)?);((-?)(0|[1-9][0-9]*)(\.[0-9]+)?))$"
                                               ng-model="sectionCoordinates">
                                    </div>
                                    @*<label class="control-label col-md-1">[mm]</label>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 form-horizontal">
                                <label class="control-label">Reinforcement coordinates (x<sub>1</sub>;y<sub>1</sub>;&phi;<sub>1</sub> x<sub>2</sub>;y<sub>2</sub>;&phi;<sub>2</sub>):</label>
                                <div class="form-group">
                                    @*<label class="control-label col-md-2">\(x,y,d = \)</label>*@
                                    <div class="col-md-10">
                                        <input class="form-control" required pattern="^(((-?)(0|[1-9][0-9]*)(\.[0-9]+)?);((-?)(0|[1-9][0-9]*)(\.[0-9]+)?);((0|[1-9][0-9]*)(\.[0-9]+)?)\s)*(((-?)(0|[1-9][0-9]*)(\.[0-9]+)?);((-?)(0|[1-9][0-9]*)(\.[0-9]+)?);((0|[1-9][0-9]*)(\.[0-9]+)?))$"
                                               ng-model="barCoordinates">
                                    </div>
                                    @*<label class="control-label col-md-1">[mm]</label>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="customDrawing"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="CustomSectionForm.$invalid" ng-click="save()">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>