<div ng-controller="detailedResultPanelCtrl">
    
    <div class="row">
        <h3 class="col-md-6">Section:</h3>
    </div>
    <div class="row">
        <p class="col-md-6">Depth of the section:</p>
        <p class="col-md-6">H = {{H | numberFormatter}} [mm]</p>
    </div>
    <div class="row">
        <p class="col-md-6">Centre of gravity from bottom fibre</p>
        <p class="col-md-6">C<sub>z</sub> = {{Cz | numberFormatter}} [mm]</p>
    </div>
    <br />
    <div class="row">
        <h3 class="col-md-6">Concrete properties</h3>
    </div>
    <div class="row">
        <p class="col-md-6">Grade:</p>
        <p class="col-md-6">{{concreteGrade}}</p>
    </div>
    <div class="row">
        <p class="col-md-6">Design strength:</p>
        <p class="col-md-6">f<sub>cd</sub> = {{Fcd | numberFormatter}} [N/mm<sup>2</sup>]</p>
    </div>
    <br />
    <div class="row">
        <h3 class="col-md-6">Steel properties</h3>
    </div>
    <div class="row">
        <p class="col-md-6">Grade:</p>
        <p class="col-md-6">{{steelGrade}}</p>
    </div>
    <div class="row">
        <p class="col-md-6">Yield stress:</p>
        <p class="col-md-6">f<sub>yd</sub> = {{Fyd | numberFormatter}} [N/mm<sup>2</sup>]</p>
    </div>
    <div class="row">
        <p class="col-md-6">Ultimate strain:</p>
        <p class="col-md-6">&epsilon;<sub>ud</sub> = {{Eud*100 | numberFormatter}} [%]</p>
    </div>
    <br />
    <div class="row">
        <h3 class="col-md-6">External loads</h3>
    </div>
    <div class="row">
        <p class="col-md-6">Axial force:</p>
        <p class="col-md-6">N<sub>Ed</sub> = {{currentLoadCase.LoadCase.NormalForce | numberFormatter}} [N]</p>
    </div>
    <br />
    <div class="row">
        <h3 class="col-md-6">Results</h3>
    </div>
    <div class="row">
        <p class="col-md-6">Section capacity:</p>
        <p class="col-md-6">M<sub>Rd</sub> = {{currentLoadCase.Mrd | numberFormatter}} [Nmm]</p>
    </div>
    <div class="row">
        <p class="col-md-6">Depth of compression zone:</p>
        <p class="col-md-6">X = {{currentLoadCase.X | numberFormatter}} [mm]</p>
    </div>
    <div class="row">
        <p class="col-md-6">Resultant force of compression zone:</p>
        <p class="col-md-6">F<sub>Concrete</sub> = {{currentLoadCase.ForceConcrete | numberFormatter}} [N]</p>
    </div>
    <div class="row">
        <p class="col-md-6">Resultant moment of compression zone:</p>
        <p class="col-md-6">M<sub>Concrete</sub> = {{currentLoadCase.MrdConcrete | numberFormatter}} [Nmm]</p>
    </div>


    <h3>Detailed results for reinforcement</h3>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-left">#</th>
                        <th class="text-left">A<sub>s</sub> [mm<sup>2</sup>]</th>
                        <th class="text-left">&epsilon; [%]</th>
                        <th class="text-left">&sigma; [N/mm<sup>2</sup>]</th>
                        <th class="text-left">F [N]</th>
                        <th class="text-left">M [Nmm]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="vert-align" ng-repeat="bar in currentLoadCase.Bars">
                        <td>
                            {{$index +1}}
                        </td>
                        <td>
                            {{bar.Bar.As |numberFormatter}}
                        </td>
                        <td>
                            {{bar.Epsilon * 100 | numberFormatter}}
                        </td>
                        <td>
                            {{bar.Sigma | numberFormatter}}
                        </td>
                        <td>
                            {{bar.Force | numberFormatter}}
                        </td>
                        <td>
                            {{bar.Moment | numberFormatter}}
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <p class="col-md-6">Sum of forces in reinforcement:</p>
        <p class="col-md-6">&Sigma;F = {{currentLoadCase.ForceReinforcement | numberFormatter}} [N]</p>
    </div>
    <div class="row">
        <p class="col-md-6">Sum of moments in reinforcement:</p>
        <p class="col-md-6">&Sigma;M = {{currentLoadCase.MomentReinforcement | numberFormatter}} [Nmm]</p>
    </div>
    <br />
    <div class="row">
        <h3 class="col-md-6">Equilibrium in section:</h3>
    </div>
    <div class="row">
        <p class="col-md-12">F<sub>Concrete</sub> + &Sigma;F - N<sub>Ned</sub>
        = {{currentLoadCase.ForceConcrete | numberFormatter}} + {{currentLoadCase.ForceReinforcement | numberFormatter}} - {{currentLoadCase.LoadCase.NormalForce | numberFormatter}} = 0.00 [N]</p>
    </div>
    <div class="row">
        <p class="col-md-12">Moment about the bottom fibre (capacity):</p>
    </div>
    <div class="row">
        <p class="col-md-12">M<sub>Concrete</sub> + &Sigma;M - N<sub>Ed</sub> &sdot; C<sub>z</sub>; = 
        {{currentLoadCase.MrdConcrete | numberFormatter}} + {{currentLoadCase.MomentReinforcement | numberFormatter}} - {{currentLoadCase.LoadCase.NormalForce |numberFormatter}} &sdot; {{Cz | numberFormatter}} = <b>{{currentLoadCase.Mrd | numberFormatter}} [Nmm]</b></p>
    </div>
</div>
