<div ng-controller="leftPanelCtrl">
<div class="form-horizontal">
    <label class="control-label">Load case:</label>
    <select class="form-control" ng-model="selectedLoadCase" ng-options="loadCase.name for loadCase in loadCases">
        @*<option ng-repeat="(key,value) in loadCases" value="{{value.name}}">{{value.name}}</option>*@
    </select>
    <p><label class="control-label">Axial force: {{selectedLoadCase.normalForce | numberFormatter}} [N]</label></p>
    <p><label class="control-label">Concrete: {{concreteGrade}}</label></p>
    <p><label class="control-label">Steel: {{steelGrade}}</label></p>
   </div> 
</div>
