<!-- Modal Loads-->
<div class="modal fade" id="modalLoads" role="dialog">
    <div class="modal-dialog" style="max-height:75%;">
        <div class="modal-content" ng-controller="loadsCtrl">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Loads</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left" >#</th>
                                <th class="text-left">Load Case</th>
                                <th class="text-left">Axial Force [kNm]</th>
                                <th class="text-left"></th>
                       
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="load in loadCases">
                                <td class="col-sm-1">{{$index + 1}}</td>
                                <td class="col-sm-2">
                                    <p ng-show="!showForms">{{load.name}}</p>
                                    <input type="text" class="form-control" ng-model="load.name" ng-show="showForms" />
                                </td>
                                <td class="col-sm-3">
                                    <p ng-show="!showForms">{{load.value}}</p>
                                    <input type="number" class="form-control" ng-model="load.value" ng-show="showForms" />
                                </td>
                                <td class="col-sm-2">
                                    <a href="#" ng-click="showForms=false;save($index,load.name,load.value)" class="glyphicon glyphicon-save" ng-show="showForms">Save</a>
                                </td>
                                <td class="col-sm-1">
                                    <a href="#" ng-click="showForms=true" class="glyphicon glyphicon-pencil"></a>
                                </td>
                                <td class="col-sm-1">
                                    <a href="#" class="glyphicon glyphicon-remove"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" ng-click="add()">Add</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

