<!-- Modal Sections-->
<div class="modal fade" id="modalRectangularSection" role="dialog">
    <div class="modal-dialog modal-lg" style="max-height:75%;">
        <div class="modal-content" ng-controller="rectangularSectionCtrl">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Sections</h4>
            </div>
            <div class="modal-body">
                @*Rectangular cross-section width*@
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <label class="control-label"> Width:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(b = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="1" ng-model="width">
                                </div>
                                <label class="control-label col-md-1">[mm]</label>
                            </div>
                        </div>
                        <div class="col-md-6 form-horizontal">
                            <label class="control-label">Height:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(h = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="1" ng-model="height">
                                </div>
                                <label class="control-label col-md-1">[mm]</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <label class="control-label">Diameter of bottom bars:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(\phi_b = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="1" ng-model="bottomBarDiameter">
                                </div>
                                <label class="control-label col-md-1">[mm]</label>
                            </div>
                        </div>

                        <div class="col-md-6 form-horizontal">
                            <label class="control-label">Number of bottom bars:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(n_b = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="0" ng-model="bottomBarCount">
                                </div>
                                <label class="control-label col-md-1">[-]</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <label class="control-label">Diameter of top bars:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(\phi_t = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="1" ng-model="topBarDiameter">
                                </div>
                                <label class="control-label col-md-1">[mm]</label>
                            </div>
                        </div>
                        <div class="col-md-6 form-horizontal">
                            <label class="control-label">Number of top bars:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(n_t = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="0" ng-model="topBarCount">
                                </div>
                                <label class="control-label col-md-1">[-]</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-horizontal">
                            <label class="control-label">Cover:</label>
                            <div class="form-group">
                                <label class="control-label col-md-1">\(c = \)</label>
                                <div class="col-md-6">
                                    <input type="number" class="form-control" min="1" ng-model="cover">
                                </div>
                                <label class="control-label col-md-1">[mm]</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rectangleDrawing">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="testButton" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
