@{
    ViewBag.Title = "RCBeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RCBeam</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js" type="text/javascript"></script>
<script src="~/Scripts/Chart.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" type="text/javascript"></script>
<script src="~/Scripts/knockout.chart.js" type="text/javascript"></script>

<div class="container">

    <h2>Reinforced concrete members calculator</h2>
    <br />

    <div class="row">
        <div class="col-xs-12 col-lg-12 text-left">
            <!-- Trigger the modal with a button -->
            <div class="form-inline">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalCoefficients">Coefficients</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConcrete">Concrete</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalSteel">Steel</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalSections">Sections</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalLoads">Loads</button>
            </div>
            <br />
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Coefficients-->
    <div class="modal fade" id="modalCoefficients" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Coefficients</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 text-left">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Partial safety factors</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" data-toggle="tooltip" title="Specify additive safety element (PN-EN 1992-1-1 4.4.1.2 (6)).">
                                            <label for="PartialFactorForConcrete">Partial factor for concrete:</label>
                                            <div class="form-inline">
                                                @{
                                                    string gammaC = "\\gamma_C";
                                                    <label>\(@gammaC = \)</label>
                                                }
                                                <input type="text" class="form-control" id="PartialFactorForConcrete" data-bind="value: PartialFactorForConcrete, valueUpdate: 'afterkeydown'">
                                                <label>[-]</label>
                                            </div>

                                            <label for="PartialFactorForConcrete">Partial factor for steel:</label>
                                            <div class="form-inline">
                                                @{
                                                    string gammaS = "\\gamma_C";
                                                    <label>\(@gammaS = \)</label>
                                                }
                                                <input type="text" class="form-control" id="PartialFactorForConcrete" data-bind="value: PartialFactorForConcrete, valueUpdate: 'afterkeydown'">
                                                <label>[-]</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Reinforcement coefficients</h3>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Concrete-->
    <div class="modal fade" id="modalConcrete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Concrete</h4>
                </div>
                <div class="modal-body">
                    @*Concrete Class Select*@
                    <div class="form-group" data-toggle="tooltip" title="Select concrete class.">
                        <label for="ConcreteClass">Concrete class</label>
                        <select class="form-control" id="ConcreteClass" data-bind="options: ConcreteClassList, value: ConcreteClass"></select>
                    </div>

                    @*Characteristic Compressive Cylinder Strength Of Concrete Input*@
                    <label for="CharacteristicCompressiveCylinderStrengthOfConcrete">Characteristic compressive cylinder strength of concrete at 28 days:</label>
                    <div class="form-inline">
                        @{
                            string fck = "f_{ck}";
                            <label>\(@fck = \)</label>

                        }
                        <input type="number" class="form-control" id="ConcreteClass" data-bind="value: Fck, valueUpdate: 'afterkeydown'">
                        <label>[MPa]</label>
                    </div>

                    <canvas id="StressStrainConcrete"
                            data-bind="chart: { type: 'line', data: StressStrain, options: { observeChanges: true, throttle: 1000 } }"></canvas>

                    @*Coefficient taking into account of long term effects on the compressive strength and of unfavourable effects resulting from the way load is applied*@
                    <label for="alphaCC">Coefficient taking into account of long term effects on the compressive strength and of unfavourable effects resulting from the way load is applied:</label>
                    <div class="form-inline">
                        @{
                            string alphaCC = "\\alpha_{cc}";
                            <label>\(@alphaCC = \)</label>

                        }
                        <input type="text" class="form-control" id="alphaCC" data-bind="value: AlphaCC, valueUpdate: 'afterkeydown'">
                        <label>[-]</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Sections-->
    <div id="modalSections" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sections</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal Loads-->
    <div id="modalLoads" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Loads</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full' type="text/javascript"></script>

@Scripts.Render("~/bundles/rcBeam")