<div class="jumbotron text-center">
    <h1>simple<strong>design</strong></h1>
    <p>We specialise in civil engineering calculations.</p>
    <form class="form-inline">
        <input type="email" class="form-control" size="50" placeholder="Email Address" />
        <button type="button" class="btn btn-primary">Subscribe</button>
    </form>
</div>

<p id="startchange"></p>

<div id="about" class="container-fluid-body">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Company</h2>
            <h4>simple<strong>design</strong> is a young and energetic team of engineers and developers who want to build great products to solve in simple way the most challenging engineering problems.</h4>
            <!--button class="btn btn-default btn-lg">Get in Touch</!button-->
        </div>
        <div class="col-sm-4 text-center">
            <span class="glyphicon glyphicon-home logo slideanim"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Our Goals</h2>
            <h4>Our main goal is to <strong>provide simple tools to resolve complex issues</strong> and at the same time allow you to easily:</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
            <h3>Community</h3>
            <p class="">Share your projects with co-workers</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <span class="glyphicon glyphicon-cloud logo slideanim"></span>
            <h3>Cloud</h3>
            <p>Perform all your calculations online</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <span class="glyphicon glyphicon-usd logo slideanim"></span>
            <h3>Money</h3>
            <p>Save your money</p>
        </div>
    </div>
</div>

<!--div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small slideanim"></span>
            <h4>POWER</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small slideanim"></span>
            <h4>LOVE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small slideanim"></span>
            <h4>JOB DONE</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small slideanim"></span>
            <h4>GREEN</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small slideanim"></span>
            <h4>CERTIFIED</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small slideanim"></span>
            <h4>HARD WORK</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div-->

<div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Programs</h2>
    <h4>What we have created</h4>
    <div class="row text-center">
        <div class="col-sm-4">
            <!--img src="paris.jpg" alt="Paris"-->
            <a href="~/Home/SectionProperties/Index.cshtml" class="glyphicon glyphicon-hdd logo-small slideanim"></a>
            <div><a href="~/Home/ConcreteCover/Index.cshtml"><strong>Concrete Cover Calculator</strong></a></div>
            <p>Calculate concrete cover based on EC2</p>
        </div>
        <div class="col-sm-4">
            <!--img src="paris.jpg" alt="Paris"-->
            <a href="~/Home/SectionProperties/Index.cshtml" class="glyphicon glyphicon-phone logo-small slideanim"></a>
            <div><a href="~/Home/SectionProperties/Index.cshtml"><strong>Section Properties Calculator</strong></a></div>
            <p>Calculate section properties of any figures</p>
        </div>
        <div class="col-sm-4">
            <!--img src="paris.jpg" alt="Paris"-->
            <a href="~/Home/SectionProperties/Index.cshtml" class="glyphicon glyphicon-minus logo-small slideanim"></a>
            <div><a href="~/Views/SectionProperties/Index.cshtml"><strong>Reinforced Concrete Beam Bending Calculator</strong></a></div>
            <p>Calculate required reinforcement of bended RC beam</p>
        </div>
    </div>
</div>

<div id="pricing" class="container-fluid bg-grey">
    <div class="text-center">
        <h2>License</h2>
        <h4>Choose a license plan that works for you</h4>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>One day</h1>
                </div>
                <div class="panel-body">
                    <p><strong>20</strong> Lorem</p>
                    <p><strong>15</strong> Ipsum</p>
                    <p><strong>5</strong> Dolor</p>
                    <p><strong>2</strong> Sit</p>
                    <p><strong>Endless</strong> Amet</p>
                </div>
                <div class="panel-footer">
                    <h3>$19</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>One week</h1>
                </div>
                <div class="panel-body">
                    <p><strong>50</strong> Lorem</p>
                    <p><strong>25</strong> Ipsum</p>
                    <p><strong>10</strong> Dolor</p>
                    <p><strong>5</strong> Sit</p>
                    <p><strong>Endless</strong> Amet</p>
                </div>
                <div class="panel-footer">
                    <h3>$29</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>One year</h1>
                </div>
                <div class="panel-body">
                    <p><strong>100</strong> Lorem</p>
                    <p><strong>50</strong> Ipsum</p>
                    <p><strong>25</strong> Dolor</p>
                    <p><strong>10</strong> Sit</p>
                    <p><strong>Endless</strong> Amet</p>
                </div>
                <div class="panel-footer">
                    <h3>$49</h3>
                    <h4>per month</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="container-fluid bg-contact">
    <h2 class="text-center h2-white">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker slideanim"></span> Cracow, PL</p>
            <p><span class="glyphicon glyphicon-phone slideanim"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope slideanim"></span> contact@simpledesign.com</p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-primary pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
        <a class="a-white" href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up a-white blink"></span>
        </a>
    <p>&copy; @DateTime.Now.Year simple<strong>design</strong>. All rights reserved.</p>
</footer>