<div ng-controller="calculationsCtrl" ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-lg" ng-class="{'btn-success':valid,'btn-warning':dirty,'btn-danger':error,'btn-info':progress}" ng-click="calculate()" ng-disabled="progress"><span class="glyphicon glyphicon-cog"></span> Calculate</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2" ng-hide="!progress">
            <div id="progress" class="progress-indicator">
            </div>
        </div>
        <div ng-class="{'col-md-10':progress,'col-md-12':!progress}">
            <div class="alert" ng-class="{'alert-success':valid,'alert-warning':dirty,'alert-danger':error,'alert-info':progress}" role="alert">
                {{message}}
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <div class="row"><label class="control-label col-md-8 text-right">Membrane stress:</label></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-8 control-label">Sxx: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setResult('sxx')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-asterisk" ng-class="{'chbox-checked':sxx,'chbox-unchecked':!sxx}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Syy: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setResult('syy')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-asterisk" ng-class="{'chbox-checked':syy,'chbox-unchecked':!syy}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Txy: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setResult('txy')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-asterisk" ng-class="{'chbox-checked':txy,'chbox-unchecked':!txy}"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row"><label class="control-label col-md-8 text-right">Additional settings:</label></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-8 control-label">Forces: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setSettings('forces')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-ok" ng-class="{'chbox-checked':forces,'chbox-unchecked':!forces}"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-8 control-label">Supports: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setSettings('supports')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-ok" ng-class="{'chbox-checked':supports,'chbox-unchecked':!supports}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Text: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setSettings('text')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-ok" ng-class="{'chbox-checked':text,'chbox-unchecked':!text}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Displacement: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setSettings('displacement')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-ok" ng-class="{'chbox-checked':displacement,'chbox-unchecked':!displacement}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8 control-label">Smoothing: </label>
                    <div class="col-md-4">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm" ng-click="setSettings('smoothing')" ng-class="{'btn-success':valid,'btn-default':!valid}">
                                <span class="glyphicon glyphicon-ok" ng-class="{'chbox-checked':smoothing,'chbox-unchecked':!smoothing}"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>