<div ng-controller="settingsCtrl">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">Forces: </label>
            <div class="col-md-3">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success btn-sm active">
                        <input type="checkbox" autocomplete="off" ng-model="showForces">
                        <span class="glyphicon glyphicon-ok chbox"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Supports: </label>
            <div class="col-md-3">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success btn-sm active">
                        <input type="checkbox" autocomplete="off" ng-model="showSupports">
                        <span class="glyphicon glyphicon-ok chbox"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Text: </label>
            <div class="col-md-3">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success btn-sm active">
                        <input type="checkbox" autocomplete="off" ng-model="showText">
                        <span class="glyphicon glyphicon-ok chbox"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Displacement: </label>
            <div class="col-md-3">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success btn-sm active">
                        <input type="checkbox" autocomplete="off" ng-model="showDisplacement">
                        <span class="glyphicon glyphicon-ok chbox"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
