<link href="~/Scripts/TrainLoad/dist/styles.bundle.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Welcome to the Train Load Simulator </h2>
            <h4>
                The simulator shows dynamic response of bridge structures subjected to moving train load using finite element method
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-root></app-root>
        </div>
    </div>
</div>
<script src="~/Scripts/TrainLoad/dist/inline.bundle.js"></script>
<script src="~/Scripts/TrainLoad/dist/polyfills.bundle.js"></script>
<script src="~/Scripts/TrainLoad/dist/main.bundle.js"></script>