
@{
    ViewBag.Title = "ConcreteProperties";
}
<br />
<br />
<br />

<h2>ConcreteProperties</h2>

    <div ng-app="app" >
        <div ng-controller="someCtrl">
            {{message}}
            
        </div>
        <div ng-controller="otherCtrl">
            {{otherMessage}}
        </div>
    </div>
        

<style>
    .error{
        border:solid #ff0000 2px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
<script>
    
    var app = angular.module('app', []);

    var app2 = angular.module('app2',[]);
    

    app.controller('someCtrl', function ($scope) {
        $scope.message = 'Hello, Arek!';
    });

    app.controller('otherCtrl', function ($scope) {
        $scope.otherMessage = 'Hello,Darek';
    });

</script>