@model IEnumerable<StruCal.ViewModels.SectionPropertyViewData>

<div class="panel panel-default">
    <div class="panel-heading"><h4>@ViewData["name"]</h4></div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th style="padding-right:20%;text-align:right">Value</th>@*todo: change to style*@
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(e => item.Name) </td>
                    <td style="width:auto;text-align:center">
                        <a data-toggle="tooltip" data-placement="bottom" title="@item.Description">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </td>
                    <td style="padding-right:20%;text-align:right">@*todo: change to style*@
                        @Html.DisplayFor(e => item.Value)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
